/*
.rNavbar{
    width: 100%;
    height: 70px;
    background: red;
    float: left;
}


.blueC{
    background: blue;
}

.myDiv{
    width: 100%;
    min-height: 200px;
    background: blue;
    float: left;
}

.rReklam{
    width: 100%;
    min-height: 200px;
    background: purple;
    float: left;
}


.r_main{
    width: 100%;
    min-height: 70px;
    background: red;
    float: left;

}

.r_menu{
    width: 100%;
    min-height: 70px;
    background: blue;
    float: left;

    
    
}

.flexDiv{
    width: 50%;
    min-height: 70px;
 
    float: left;
}

.flexDivlerDivi{
    width: 50%;
    min-height: 70px;
  
    float: left;
    display: flex;
    align-items: center;
    justify-content: end;
}

.r_menu ul{
    margin: 0px;
    padding: 0px;
}

.r_menu ul li {
    color: white;
    list-style-type: none;
    float: left;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
}

.fRight{
    float: right;
}

*/







.grail{
    width: 100%;
    min-height: 70px;
    background: #0068FF;
    float: left;
    margin-bottom: 15px;
}

.r_nav{
    width: 100%;
    min-height: 300px;
    background: #67A4FF;
    float: left;
}

.r_main{
    width: 100%;
    min-height: 300px;
    background: #A5A6AB;
    float: left;
}

.r_sidebar{
    width: 100%;
    min-height: 300px;
    background: #66A3FE;
    float: left;
}

.r_footer{
    width: 100%;
    min-height: 70px;
    background: #0068FF;
    float: left;
    margin-top: 15px;
}





/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    .noPadding{
        padding: 0px;
    }

    .r_main{
        margin: 15px 0px;
    }

    .r_nav, .r_main, .r_sidebar{
        min-height: 150px;
        background: violet;
    }

}

